<%= form_with(model: usuario, local: true) do |form| %>
  <% if usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :usuario %>
    <%= form.text_field :usuario, id: :usuario_usuario %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password, id: :usuario_password %>
  </div>

  <div class="field">
    <%= form.label :idRol %>
    <%= form.number_field :idRol, id: :usuario_idRol %>
  </div>

  <div class="field">
    <%= form.label :idEstadoUsuario %>
    <%= form.number_field :idEstadoUsuario, id: :usuario_idEstadoUsuario %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
